@import "variables";

.header-container {
  background: $headerbgcolor;
  height: auto;
  border-bottom: 1px solid rgba(128, 128, 128, 0.247);
  padding-bottom: 18px;

  header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;

    .header-left {
      display: flex;
      align-items: center;

      i {
        @extend %buttons;
      }

      .bi-list {
        font-size: 18px;
      }

      .bi-github {
        border: none;
        font-size: 32px;
        margin-right: 10px;
      }

      span {
        font-weight: 500;
        font-size: 14px;
      }
    }

    .header-right {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;

      i {
        font-size: 18px !important;
      }

      .search {
        display: flex;
        align-items: center;
        border: $bordercolor;
        padding: 6px;
        border-radius: 6px;
        width: 300px;
        height: 32px;

        .bi-search {
          margin-right: 10px;
        }

        input {
          border: none;
          outline: none;
          background: $headerbgcolor;
          width: 100%;
        }
      }

      .border {
        border: $bordercolor;
        height: 21px;
      }

      .right-buttons {
        display: flex;
        align-items: center;
        gap: 5px;

        .bi-caret-down-fill {
          font-size: 10px !important;
        }

        i {
          @extend %buttons;
        }

        .plus-chevron {
          display: flex;
          align-items: center;
          justify-content: center;
          border: $bordercolor;
          border-radius: 6px;

          i {
            border: none;
          }
        }
      }
      img {
        height: 40px;
        border: $bordercolor;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
  .header-bottom {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 14px;

    i {
      font-size: 16px;
    }

    span {
      font-size: 14px;
      margin-right: 8px;
    }
    .number {
      margin-left: -12px;
      padding: 2px;
      background: #e8ebef;
      border-radius: 10px;
    }
    .nav {
      &:hover {
        background: rgba(161, 158, 158, 0.178);
        border-radius: 6px;
        cursor: pointer;
      }
    }

    #border {
      border-bottom: 2px solid #fd8c73;
      position: relative;
      top: 19px;
    }
  }
}
